 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 header {
  background-color: rgba(100, 100, 100, .5);
  color: #fff;
  padding: 10px 0;
  position: fixed;
  top: 0;
}
 .navbar-logo{
    font-size: 24px;
    font-weight: bold;
 }
 .navbar-links{
  list-style: none;
  display: flex;
 }
 .navbar-item{
  margin-right: 20px;
 }
 .navbar-link{
  text-decoration: none;
  color: #fff;
  color: navy;
  transition: color 0.3s;
 }
 .navbar-link:hover{
  color: #f8f8f8;
 }
 #navbar-toggle{
  display: none;
  cursor: pointer;
 }
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon-bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}

.data-block{
  margin-top: 80px;
  background-image: linear-gradient(to bottom, white, beige, lightblue, blue);
  width: 100%;
  height: 100%;
}

footer{
  background-color: blue;
}

@media (max-width: 100px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    width: 100%;
  }
  .header{
    width: 100%;
  }
  .navbar-item {
    margin-right: 0;
    padding: 10px 20px;
 }
 #navbar-toggle {
    display: block;
 }
}
