 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 header {
  background-color: rgba(100, 100, 100, .5);
  color: #fff;
  padding: 10px 0;
  position: fixed;
  top: 0;
}

 .navbar-logo{
    font-size: 24px;
    font-weight: bold;
 }
 .navbar-links{
  list-style: none;
  display: flex;
 }
 .navbar-item{
  margin-right: 20px;
 }
 .navbar-link{
  text-decoration: none;
  color: #fff;
  <!--color: navy;-->
  transition: color 0.3s;
  background-color: rgba(100, 100, 100, .0);
  border: none;
 }
 .navbar-link:hover{
  color: blue;
 }
 #navbar-toggle{
  display: none;
  cursor: pointer;
 }
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon-bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}

body{
  background-image: linear-gradient(45deg, white, lightgreen, beige, lightblue, blue);
}

.data-block{
  margin-top: 80px;
  width: 100%;
  height: 100%;
  min-height: 450px;
}

.data-product > h1{
  font-size: 20px;
  text-decoration: underline;
}

.data-product{
  width: 33%;
  border: inset;
  margin: 5px;
}

footer{
  background-color: blue;
}

#website-product{
  background-image: linear-gradient(45deg, beige, lightblue, blue);
}
#datascience-product{
  background-image: linear-gradient(45deg, blue, lightblue, beige);
}
#ai-product{
  background-image: linear-gradient(45deg, beige, white, yellow);
}
#android-product{
  background-image: linear-gradient(45deg, yellow, white, beige);
}
#desktop-product{
  background-image: linear-gradient(45deg, beige, lightblue, blue);
}
#sw-product{
  background-image: linear-gradient(45deg, blue, lightblue, beige);
}
consult-product{
  background-image: linear-gradient(45deg, green, lightgreen, yellow);
}
#net-product{
  background-image: linear-gradient(45deg, yellow, white, beige);
}
#hw-product{
  background-image: linear-gradient(45deg, beige, lightblue, blue);
}

@media (max-width: 100px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    width: 100%;
  }
  .header{
    width: 100%;
  }
  .navbar-item {
    margin-right: 0;
    padding: 10px 20px;
 }
 #navbar-toggle {
    display: block;
 }
}
